@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --wit: #FFFF;
    --backgroundColor: #1a1f2b;
    --blauw: rgb(38, 114, 236);
    --roze: #e94560
}

.home {
    height: 100vh;
    /* overflow: hidden; */
}

body {
    font-family: 'Poppins', sans-serif;
}


/* Home */

.imagebackground {
    background-image: url('https://login.hva.nl/adfs/portal/illustration/illustration-hva.jpg');
    height: 100%;
    background-repeat: no-repeat;
    position: relative;
    object-fit: cover;
}

.login {
    background-color: var(--wit);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formheader {
    margin-bottom: 2rem;
    font-size: 1.2em;
    font-weight: 200;
    font-weight: lighter;
    font-family: "Segoe UI", "Segoe", "SegoeUI-Regular-final", Tahoma, Helvetica, Arial, sans-serif;
}

.form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 30vh;
    flex-direction: column;
}

.header {
    position: absolute;
    top: 0;
}

.header img {
    height: 100%;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

input[type="text"] {
    height: 28px;
    padding: 0px 3px 0px 3px;
    border: solid 1px #BABABA;
    font-size: 1em;
    padding: 12px 20px;
}

.formhome {
    display: flex;
    flex-direction: column;
}

.formhome input[type='submit'],
.next {
    background-color: var(--blauw);
    min-width: 80px;
    width: auto;
    height: 30px;
    padding: 4px 20px 6px 20px;
    border-style: solid;
    border-width: 1px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-bottom: 8px;
    margin-top: 2rem;
}

.formhome input[type="submit"]:disabled {
    opacity: 0.2;
}

.formhome input[type='submit']:not(:disabled):hover {
    background: rgb(212, 227, 251);
}


/* end of Home */


/* Dashboard */

.dashboard {
    background-color: #F6F7F8;
    padding: 100px;
    height: auto;
}

.dashboardheader {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, 30rem);
    width: 100%;
    display: grid;
    justify-items: center;
    grid-gap: 4rem;
    padding: 20px;
    background-color: blue;
    padding: 50px 30px 20px 30px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, .25);
}

.card {
    position: relative;
}

.locked {
    opacity: 0.2;
}

.card img {
    /* width: 100%; */
    width: 30rem;
    max-width: 100%;
    object-fit: cover;
    height: 15rem;
}

.card_title {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    font-weight: 300;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
    color: #000;
    text-align: center;
    margin-bottom: 2rem;
}

.text_container {
    display: flex;
    flex-direction: column;
}

.card_text {
    color: #000;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 600;
    text-align: center;
}

.card_opening {
    margin-bottom: 0;
    background-color: var(--roze);
    width: 100%;
    max-width: 10rem;
    color: var(--wit);
    position: absolute;
}

.card_opening::before {
    content: 'i';
    color: white;
    background-color: var(--roze);
    display: inline-block;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    margin-right: 0.5rem
}

.btn {
    display: block;
    background-repeat: no-repeat;
    outline: 0;
    bottom: 10px;
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 14px;
    overflow: hidden;
    transition: 0.2s;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    width: 100%;
    background-color: var(--blauw);
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: rgb(212, 227, 251);
}

a {
    text-decoration: none;
}

.test {
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, .25);
    background-color: #fff;
    position: relative;
}

.test:hover .card_btn {
    background: rgb(212, 227, 251);
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--blauw);
    color: white;
    display: none;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.1em;
    z-index: 9;
}

.overlay h2 {
    font-size: 1rem;
}

.locked,
.test {
    position: relative;
}

.locked:hover .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.locked:hover {
    opacity: 1;
}


/* Error message */

.error {
    border-radius: 6px;
    font-size: 1rem;
    font-weight: normal;
}

.error::before {
    content: 'i';
    color: white;
    background-color: var(--roze);
    display: inline-block;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    margin-right: 0.5rem
}


/* nav */

nav {
    background: var(--blauw);
    height: 10rem;
}

nav div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav p {
    color: white;
}


/* end nav */


/* Enquete slug */

.form-container {
    margin: 2rem 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-bottom: 1rem;
    flex: 350px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.enquete-container {
    padding: 3rem 2rem 2rem;
}

.formname label {
    display: block;
}

.formname input[type="text"] {
    display: block;
}

.enquete-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }
    .dashboard {
        display: block;
        padding: 0px;
    }
    .login {
        width: 100%;
    }
}