<div class="enquete-container">
    <form action="/submit" method="POST" class="enquete-form">
        <div class="form-container">
            <div class="form-group stap1">
                <label for="first-name">Voornaam</label>
                <input type="text" name="first-name">
            </div>
            <div class="form-group stap1">
                <label for="first-name">achternaam</label>
                <input type="text" name="first-name">
            </div>
            <div class="form-group stap2">
                <label for="first-name">Docenten</label>
                <select name="docenten" id="docenten">
                    <option value="Rowin">Rowin</option>
                    <option value="Sanne">Sanne</option>
                    <option value="Joost">Joost</option>
                    <option value="overig">Overig</option>
                </select>
            </div>
            <div class="form-group stap2">
                <label for="first-name">Begin datum</label>
                <input type="date" name="data" id="date">
            </div>
            <div class="form-group stap3">
                <label for="first-name">Beoordeling</label>
                <input type="radio" id="male" name="gender" value="1">
                <label for="male">1</label><br>
                <input type="radio" id="female" name="gender" value="2">
                <label for="female">2</label><br>
                <input type="radio" id="other" name="gender" value="3">
                <label for="other">3</label>
                <input type="radio" id="other" name="gender" value="4">
                <label for="other">4</label>
                <input type="radio" id="other" name="gender" value="5">
                <label for="other">5</label>
                <input type="radio" id="other" name="gender" value="6">
                <label for="other">6</label>
                <input type="radio" id="other" name="gender" value="7">
                <label for="other">7</label>
                <input type="radio" id="other" name="gender" value="8">
                <label for="other">8</label>
                <input type="radio" id="other" name="gender" value="9">
                <label for="other">9</label>
                <input type="radio" id="other" name="gender" value="10">
                <label for="other">10</label>

            </div>
            <div class="form-group stap3">
                <label for="first-name">Hoe moeilijk was het?</label>
                <input type="text" id="lname" name="lname">
            </div>
            <div class="form-group stap4">
                <label for="first-name">Hoe duidelijk is het uitgelegd?</label>
                <input type="text" id="lname" name="lname">
            </div>
            <div class="form-group stap4">
                <label for="first-name">Hoe goed snap je het</label>
                <input type="text" id="lname" name="lname">
            </div>
        </div>
        <button class="submit next">Volgende stap</button>
    </form>
</div>