<div class="enquete-container">
    <form action="/submit" method="POST" class="enquete-form">
        <div class="form-container">
            <div class="form-group">
                <label for="first-name">Voornaam</label>
                <input type="text" name="first-name">
            </div>
            <div class="form-group">
                <label for="first-name">achternaam</label>
                <input type="text" name="first-name">
            </div>
            <div class="form-group">
                <label for="first-name">achternaam</label>
                <input type="text" name="first-name">
            </div>
            <div class="form-group">
                <label for="first-name">achternaam</label>
                <input type="text" name="first-name">
            </div>
        </div>
        <!-- <label for="voornaam">voornaam:</label>
            <input type="text" id="voornaam" name="voornaam" value="John">
            <label for="achternaam">achternaam:</label>
            <input type="text" id="achternaam" name="achternaam" value="John"> -->
        <!-- <label for="docent">Docent(en)</label>
        <div class="docent">
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Rowin</label>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Koop</label>
            <input type="radio" id="other" name="gender" value="other">
            <label for="other">Other</label>
        </div>
        <label for="beoordeling">Cijfer 1/10</label>
        <input type="number" id="other" name="beoordeling" value="1" max="10">
        <label for="lesstof">Wat vind je van de Lesstof</label>
        <input type="text" id="other" name="lesstof" value="Wat een leuke minor!"> -->
    </form>
</div>