<div class="imagebackground">
    <aside class="login">
        <div class="header">
            <img src="https://login.hva.nl/adfs/portal/logo/hvalogo.png" alt="Hva logo">
        </div>
        <div class="localstorage">
            <p class="error"></p>
        </div>
        <%- include('error-message') -%>
            <div class="form">
                <h2 class="formheader">Vul je HvA-ID in</h2>
                <form action="/enquete" class="formhome" method="POST">
                    <label for="nummer"></label>
                    <input type="text" id='nummer' name="nummer" placeholder="500813624" required oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                    <input type="submit" value="Ga verder" class="next">
                </form>
            </div>
    </aside>
</div>