<div class="imagebackground">
    <div class="login">
        <div class="header">
            <img src="https://login.hva.nl/adfs/portal/logo/hvalogo.png" alt="Hva logo">
        </div>
        <div class="form">
            <h2 class="formheader">Login met je HvA-ID</h2>
            <form action="/enquete" class="formhome" method="POST">
                <label for="nummer"></label>
                <input type="text" id='nummer' name="nummer" placeholder="HvA-ID" required>
                <input type="submit" value="Ga verder">
            </form>
        </div>
    </div>
</div>