<%- include('includes/head') -%>
    <%- include('includes/nav') -%>

        <body>
            <main class="dashboard">
                <%- include('includes/card') -%>
            </main>
        </body>