<%- include('includes/header/head') -%>
    <%- include('includes/nav') -%>

        <body>
            <main class="enquete">
                <a href="../dashboard" class="back">Ga terug naar overzicht</a>
                <%- include('includes/enquete-form') -%>
            </main>
            <script src="../JS/enquete.js" type="module" defer></script>
        </body>