<%- include('includes/header/head') -%>
    <%- include('includes/nav') -%>

        <body>
            <main>
                <%- include('includes/enquete-form') -%>
            </main>
            <script src="../JS/enquete.js"></script>
        </body>