<%- include('includes/header/head') -%>
    <%- include('includes/nav') -%>

        <body>
            <main>
                <%- include('includes/enquete-form') -%>
            </main>
            <noscript>
                <style type="text/css">
                   .stap1 {
                   display: flex;
                   }
                   .stap2 {
                   display: flex
                   }
                   .stap3 {
                   display: flex
                   }
                   .stap4 {
                   display: flex;
                   }
                   .formhome input[type='submit'], .next {
                    display: none;
                   }
                   .no-js {
                       display: block;
                   }
                </style>
             </noscript>
            <script src="../JS/enquete.js"></script>
        </body>